:root {
    --primary-text-colour: #212121;
    --secondary-text-colour: #757575;
    --accent-colour: #2196F3; 
    --primary-background-colour: #ffffff;
    --secondary-background-colour: #F5F4FA;
}

/* body */
.page {
    background-color:var(--primary-background-colour);
    color: var(--primary-text-colour);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

}

/* margin */
h1,
h2,
h3,
p,
ul{
    margin-top:0px;
    margin-bottom: 0px;
}

/* images */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* hidden titles */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* container */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 2px solid tomato;
}

/* section */
.section{
    padding: 94px 0px;
}

/* list style */
.list {
    list-style: none;
}

/* header */
.header{
    /* padding: 0px 215px; */
    border-bottom: 1px solid #ECECEC;
}

.main-nav{
    display: flex;
    align-items: center;
}

/* logo */
.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo:hover{
    color: var(--accent-colour);
}

.web {
    color: var(--accent-colour);
}

/* site nav */
.site-nav{
    display: flex;
    margin-left: 93px;
}

/* .site-nav .item{
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
} */

/* .site-nav .item:not(:last-child){
    margin-right: 50px;
} */

.site-nav .item + .item,
.header-contacts .item + .item{
    margin-left: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .main-link.current{
    color: var(--accent-colour);
}

.site-nav .portfolio-link.current{
    color: var(--accent-colour);
}

.header-contacts{
    display: flex;
    margin-left: auto;
}

.contact-link{
    display: block;

    color: var(--secondary-text-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.site-nav .link:hover,
.site-nav .link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-colour);
}

/* main */

/* hero */
.hero {
    text-align: center;
    padding: 200px 0px; 

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color:var(--primary-background-colour);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
}

/* button */
.button {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;

    color:var(--primary-background-colour);
    background-color: var(--accent-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color:var(--primary-background-colour);
    background-color: #188CE8;
}

/* title */
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

/* advantages */
.advantages{
    padding: 94px 0px 0px;
}

.advantages-list{
    display: flex;
    padding: 0;
}

/* .example::before{
    display: inline-flex;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    background-image: url(../images/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
} */

.advantages-list .item{
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.advantages-list .item:nth-child(4n){
    margin-right: 0;
}

/* .advantages-list .item + .item{
    margin-left: 30px;
} */

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-list .text{
    color: var(--secondary-text-colour);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* what we do */

.images-list{
    display: flex;
    padding: 0;
    /* justify-content: space-between; */
}

.images-list .item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.images-list .item:nth-child(3n) {
    margin-right: 0;
}

/* team */
.team{
    background-color:var(--secondary-background-colour) ;
}

.team-card{
    background-color: var(--primary-background-colour);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.team-list{
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
}

.team-card{
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.team-card:nth-child(4n) {
    margin-right: 0;
}

.member{
    padding: 30px 0px;
}

.team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 10px;
}

.team-list .text{
    color: var(--secondary-text-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

/* clients */

.client-list{
    display: flex;
    padding: 0;
}

.client-item{
    flex-basis: calc((100% - 150px) / 6);
    margin-right: 30px;
}

.client-item:nth-child(6n){
    margin-right: 0;
}

.client-link{
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
}

.client-link:hover,
.client-link:focus{
    border: 1px solid var(--accent-colour);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.icon-client{
    fill: #AFB1B8;
}

.icon-client:hover,
.icon-client:focus{
    fill: var(--accent-colour);
}

/* footer */
.footer{
    background-color:#2F303A;
    padding: 60px 0px;
}

.footer .logo{
    display: inline-block;
    margin-bottom: 20px;
}

.studio{
    color:var(--primary-background-colour);
}

.place{
    color:var(--primary-background-colour);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-list{
    padding: 0;
}

.address-list .item{
    margin-top: 9px;
}

.address-link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address-link:hover,
.address-link:focus{
    color: var(--accent-colour);
}

/* portfolio */

.projects-link{
    text-decoration: none;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* justify-content: space-between */
}

.projects-list .item:hover,
.projects-list .item:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.projects-list .item{
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
} 

.projects-list .item:nth-child(3n) {
    margin-right: 0;
}

.projects-list .item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.card-content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.projects{
    color: var(--primary-text-colour);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-text{
    color: var(--secondary-text-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
}

.portfolio-buttons{
    display: inline-block;
    min-width: auto;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;

    color: var(--primary-text-colour);
    background-color: var(--secondary-background-colour);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-list{
    display: inline-block;
    margin-bottom: 50px;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus{
    color: var(--primary-background-colour);
    background-color: var(--accent-colour);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-list{
    display: flex;
    justify-content: center;
}

.button-list .item:not(:last-child){
    margin-right: 8px;
}


/* .item * {
    outline: 1px solid salmon;
} */